<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tantra.tantrayoga">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Coins.Flat">
        <activity
                android:name=".ui.programm.ProgrammListActivity"
                android:theme="@style/Theme.Coins.Flat.NoActionBar"
                android:label="@string/programms_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.asanas.AsanasActivity"
                android:theme="@style/Theme.Coins.Flat.NoActionBar"
                android:label="@string/action_asanas">
        </activity>
        <activity
                android:name=".ui.liveasanas.LiveAsanasActivity"
                android:label="@string/action_asanas">
        </activity>
    </application>

</manifest>